---
const { class: className, ...props } = Astro.props

import { icon, library } from '@fortawesome/fontawesome-svg-core'
import { faDiscord, faGithub, faInstagram, faXTwitter } from '@fortawesome/free-brands-svg-icons'
import { cn } from '~/utils/merge'

library.add(faGithub, faXTwitter, faInstagram, faDiscord)
const Github = icon({ prefix: 'fab', iconName: 'github' })
const XTwitter = icon({ prefix: 'fab', iconName: 'x-twitter' })
const Instagram = icon({ prefix: 'fab', iconName: 'instagram' })
const Discord = icon({ prefix: 'fab', iconName: 'discord' })
---

<ul class={cn('flex items-center gap-4 opacity-80', className)} {...props}>
  <li>
    <a
      href="https://x.com/databrandsai"
      target="_blank"
      class="font-normal"
      aria-label="Visit Databrands on X"
    >
      <Fragment set:html={XTwitter.html} />
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/databrands_official/"
      target="_blank"
      class="font-normal"
      aria-label="Visit Databrands on Instagram"
    >
      <Fragment set:html={Instagram.html} />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/4NSueBdW"
      target="_blank"
      class="font-normal"
      aria-label="Join Databrands on Discord"
    >
      <Fragment set:html={Discord.html} />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/DATABRANDS"
      target="_blank"
      class="font-bold"
      aria-label="Visit Databrands on GitHub"
    >
      <Fragment set:html={Github.html} />
    </a>
  </li>
</ul>
